<div class="offersection">
    <div class="container">
        <div class="teacher-container">
            <div class="image-container d-flex align-items-center justify-content-between">
                <div class="align-self-start">
                    <img id="img1" src="../../assets/img_section1/robot_head.jpg">
                </div>
                <div>
                    <img id="img2" src="../../assets/img_section1/rocket.jpg">
                </div>
                <div class="align-self-end">
                    <img id="img3" src="../../assets/img_section1/car.jpg">
                </div>
                <div class="align-self-end">
                    <img id="img4" src="../../assets/img_section1/hand_in_hand.jpg">
                </div>
            </div>
            <div class="text-container ml-auto">
                <div>
                    <p>Maximum flexibility in production. Relief of employees by performing ergonomically unfavorable work steps that could not previously be automated</p>
                </div>
            </div>
        </div>
    </div>
</div>